<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>HOME - CODEJAVA</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
<div class="container  text-center">
    <div>
    <h1>Welcome to CodeJava.net</h1>
        </div>
        <div>
            <h3><a th:href="@{register}">Register </a></h3>
            </div>

</div>
</body>
</html>